.page {
    background-color: #000;
    width: 100vw;
    max-width: 100vw;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style:  normal;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
}